@import "foundation";
@import "partials/reset";
@import "partials/clearfix";

$testColor: red;

#test {
  background-color: $testColor;
}

div.row {
  padding: 0 16px;
}

div.column {
  padding: 16px;
}

div.columns {
  padding: 16px;
}

#A {
  background-color: red;
}

#B {
  background-color: green;
}

#C {
  background-color: blue;
}

#D {
  background-color: purple;
}