@import "partials/_settings";     // settings must be before all JS files, whih are linked to by "foundation"
@import "foundation";
@import "partials/reset";
@import "partials/clearfix";

div.row {
  padding: 0 16px;
}

div.column {
  padding: 16px;
}

div.columns {
  padding: 16px;
}

#A {
  background-color: red;
}
#B {
  background-color: green;
}
#C {
  background-color: blue;
}
#D {
  background-color: purple;
}

#site-content{
  margin-top: 96px;
  text-align: center;
}

#site-button {
  padding: 42px;
  border: 2px outset purple;
  background-color: navy;
}

#site-button:hover {
  padding: 48px;
  color: red;
  border: 2px inset fuchsia;
  background-color: blue;
}